<!DOCTYPE HTML>
<html>

<head>
	<title>{% block title %}symblog{% endblock %}</title>
	<meta name="description" content="website description" />
	<meta name="keywords" content="website keywords, website keywords" />
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<link href="{{ asset('css/style.css') }}" type="text/css" rel="stylesheet" />

</head>

<body>
	<div id="main">

	{% if is_granted('ROLE_ADMIN') %}
			<a href="{{ path('cooker_admin_logout')}}" class="entrar">{% trans %}Salir{% endtrans %}</a>
		{% else %} 
			<a href="{{ path('cooker_admin_login')}}" class="entrar">{% trans %}Iniciar sesi&oacute;n{% endtrans %}</a>
		{% endif %}

		<div id="header">
			<div id="logo">

				<div id="logo_text">
					<h1><a href="{{ path('cooker_cook_principal')}}">Easy<span class="logo_colour">_cooking</span></a></h1>
					 <div id="letter-container" class="letter-container">
					<h2>
					<a href="#">{% trans %}"El amor puede esperar, el hambre no" Monkey D. Luffy{% endtrans %}</a>
					</h2>
					</div>
				</div>

			</div>
			
			<!-- Menú -->
			{% block navigation %}
			<div id="menubar">
				<ul id="menu">
					<li><div><a href="{{ path('cooker_cook_principal')}}">{% trans %}Inicio{% endtrans %}</a></div></li>
					<li><div><a href="{{ path('cooker_cook_recetas')}}">{% trans %}Recetas{% endtrans %}</a></div></li>
					<li><div><a href="{{ path('cooker_cook_platos')}}">{% trans %}Platos{% endtrans %}</a></div></li>
					<li><div><a href="{{ path('cooker_cook_ingredientes')}}">{% trans %}Ingredientes{% endtrans %}</a></div></li>
					<li><div><a href="{{ path('cooker_cook_contact')}}">{% trans %}Contacto{% endtrans %}</a></div></li>
				</ul>
			</div> 
	
			{% endblock %}
		</div>

		<div id="site_content">
			<div class="sidebar">
				<!-- Contenido lateral derecho -->
				{% block sidebar %}{% endblock %}
			</div>

			<div id="content">
				<!-- Contenido principal -->
				<section class="main-col">
					{% block body %}{% endblock %}
				</section>
			</div>
		</div>

		<!-- Pie de página -->
		<div id="footer">
			{% block footer %}
			{% trans %}Cocina f&aacute;cil - Creado como proyecto para Ingenier&iacute;a Web{% endtrans %}
			{% endblock %}
		</div>

	</div>

	{% block javascripts %}
	 <script src="{{ asset('js/jquery-3.2.1.min.js') }}"></script>

	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
			<script src="{{ asset('js/jquery.lettering.js') }}"></script>
			<script>
				$(function() {
					$("#letter-container h2 a").lettering();
				});
			</script>

	 <script src="{{ asset('js/modernizr.custom.34978.js') }}"></script>
	 <script>
			$(function() {
				
				var $container	= $('#ib-container'),
					$articles	= $container.children('article'),
					timeout;
				
				$articles.on( 'mouseenter', function( event ) {
						
					var $article	= $(this);
					clearTimeout( timeout );
					timeout = setTimeout( function() {
						
						if( $article.hasClass('active') ) return false;
						
						$articles.not( $article.removeClass('blur').addClass('active') )
								 .removeClass('active')
								 .addClass('blur');
						
					}, 65 );
					
				});
				
				$container.on( 'mouseleave', function( event ) {
					
					clearTimeout( timeout );
					$articles.removeClass('active blur');
					
				});
			
			});
		</script>
	{% endblock %}
</body>
</html>
