{# src/Cooker/CookingBundle/Resources/views/Cook/list.html.twig #}
{% extends 'CookerCookingBundle::layout.html.twig' %}
{% block title %}Lista de Recetas{% endblock %}

{% block body %}
    {% for receta in recetas %}
        <article class="receta">
           <!-- <div class="date"><time datetime="{{ receta.date|date('c') }}">{{ receta.date|date('l j F Y') }}</time></div> -->
            <header>
                <h2><a href="{{ path('cooker_cook_show', { 'id': receta.id }) }}">{{ receta.nombre }}</a></h2>
            </header>

            <div class="snippet">
                <p>{{ receta.detalles(200) }}</p>
                <p class="continue"><a href="{{ path('cooker_cook_show', { 'id': receta.id }) }}">Seguir leyendo...</a></p>
            </div>

            <footer class="meta">
                <p>Comentarios: -</p>
            </footer>
        </article>
    {% else %}
        <p>No hay entradas en este blog</p>
    {% endfor %}
{% endblock %}
