{# src/Cooker/CookingBundle/Resources/views/Cook/principal.html.twig #}
{% extends 'CookerCookingBundle::layout.html.twig' %}
{% block title %}P&aacutegina de bienvenida{% endblock %}

{% block body %}

 {% for plato in platos %}
   {% set break = 0 %}
   {% for receta in recetas if break < 2 %}
   {% if receta.tipo_plato.id == plato.id %}

<article class="receta">
	<div class="date" style="text-align:right"><time datetime="{{ receta.date|date('c') }}">{{ receta.date|date('l j F Y') }}</time></div>
	<header>
		<h2><a href="{{ path('cooker_cook_show', { 'id': receta.id }) }}">{{ receta.nombre }}</a></h2>
	</header>

	<div class="snippet">
		<p>{{ receta.detalles(200) }}</p>
		<p class="continue"><a href="{{ path('cooker_cook_show', { 'id': receta.id }) }}">Seguir leyendo...</a></p>
	</div>

	<footer class="meta">
		<p>Comentarios: -</p>
	</footer>
</article>

{% set break = break + 1 %}
{% endif %}
{% endfor %}
{% endfor %}
{% endblock %}
