{# src/Cooker/CookingBundle/Resources/views/Cook/principal.html.twig #}
{% extends 'CookerCookingBundle::sidebar.html.twig' %}
{% block title %}{% trans %}Pagina de bienvenida{% endtrans %}{% endblock %}

{% block body %}

 {% for plato in platos %}
   {% set break = 0 %}
   {% for receta in recetas if break < 2 %}
   {% if receta.tipo_plato.id == plato.id %}

	<div class="date" style="text-align:right"><time datetime="{{ receta.date|date('c') }}">{{ receta.date|date('l j F Y') }}</time></div>
	<header>
		<h2><a href="{{ path('cooker_cook_showReceta', { 'id': receta.id }) }}">{{ receta.nombre|trans }}</a></h2>
	</header>

	<div class="snippet">
		<p>{{ receta.detalles(200)|trans }}</p>
		<p class="continue"><a href="{{ path('cooker_cook_showReceta', { 'id': receta.id }) }}">{% trans %}Seguir leyendo...{% endtrans %}</a></p>
	</div>

	<footer class="meta">
		<p>{% trans %}Comentarios: -{% endtrans %}</p>
	</footer>

{% set break = break + 1 %}
{% endif %}
{% endfor %}
{% endfor %}
{% endblock %}
