{# src/Cooker/CookingBundle/Resources/views/Cook/recetas.html.twig #}
{% extends 'CookerCookingBundle::sidebar.html.twig' %}
{% block title %}{% trans %}Lista de Recetas {% endtrans %}{% endblock %}

{% block body %}

 	<div class="ib-container" id="ib-container">
	{% for receta in recetas %}

	<article>
		<header>
			<h3><a href="{{ path('cooker_cook_showReceta', { 'id': receta.id }) }}">{{ receta.nombre }}</a></h3>
		</header>
		<img class="imgPeq" src="{{receta.imagen}}" alt="{{receta.nombre}}" />
		<div class="snippet">
			<p style="margin-left: 5px;margin-right: 5px;">{{ receta.detalles(50) }}</p>
			<p><a href="{{ path('cooker_cook_showReceta', { 'id': receta.id }) }}">Seguir leyendo...</a></p>
		</div>
		<footer class="meta">
			<p>Comentarios: -</p>
		</footer>
	</article>
	
	{% else %}
	<p>No hay entradas en este blog</p>
	{% endfor %}
	</div>

	
{% endblock %}
