{# src/Cooker/CookingBundle/Resources/views/Cook/recetas.html.twig #}
{% extends 'CookerCookingBundle::layout.html.twig' %}
{% block title %}Lista de Recetas{% endblock %}

{% block body %}

<ul class="lista">
    {% for receta in recetas %}
	<li class="elemento">
            <header>
                <h3><a href="{{ path('cooker_cook_show', { 'id': receta.id }) }}">{{ receta.nombre }}</a></h3>
            </header>
			<img class="imgPeq" src="/css/images/{{receta.id}}.jpg" alt="foto" />
            <div class="snippet">
                <p style="margin-left: 5px;margin-right: 5px;">{{ receta.detalles(50) }}</p>
                <p><a href="{{ path('cooker_cook_show', { 'id': receta.id }) }}">Seguir leyendo...</a></p>
            </div>
			  <footer class="meta">
                <p>Comentarios: -</p>
            </footer>
	</li>
    {% else %}
        <p>No hay entradas en este blog</p>
    {% endfor %}
{% endblock %}
