{# src/Cooker/CookingBundle/Resources/views/Cook/showPlato.html.twig #}
{% extends 'CookerCookingBundle::sidebar.html.twig' %}
{% block title %}{{plato.nombre}}{% endblock %}

{% block body %}

<h1>Recetas para el plato: {{ plato.nombre }}</h1>

<ul class="lista">
 	<section class="ib-container" id="ib-container">
	{% for receta in recetas %}
	<article>
	 <li class="elemento">
		<header>
			<h3><a href="{{ path('cooker_cook_showReceta', { 'id': receta.id }) }}">{{ receta.nombre }}</a></h3>
		</header>
		<img class="imgPeq" src="{{receta.imagen}}" alt="{{receta.nombre}}" />
		<div class="snippet">
			<p style="margin-left: 5px;margin-right: 5px;">{{ receta.detalles(50) }}</p>
			<p><a href="{{ path('cooker_cook_showReceta', { 'id': receta.id }) }}">Seguir leyendo...</a></p>
		</div>
		<footer class="meta">
			<p>Comentarios: -</p>
		</footer>
	</li>
	</article>
	{% endfor %}
	</section>
</ul>

{% endblock %}
