{# src/Cooker/CookingBundle/Resources/views/Cook/show.html.twig #}
{% extends 'CookerCookingBundle::layout.html.twig' %}
{% block title %}Detalles de la receta{% endblock %}

{% block body %}
	<h1>{{ receta.nombre }}</h1>
	<div class="date">
		{{ receta.date|date('d-m-Y') }}
	</div>
	<img class="imgPeq" src="/images/fondo.jpg" alt="d" />
	<h2>Ingredientes</h2>

	<h2>Preparación</h2>
	<div class="body">
		{{ receta.detalles }}
	</div>
	
	<br><br><br>

	<section class="previous-comments">
		<h3>Comentarios</h3>
		{% include 'CookerCookingBundle:Comment:list.html.twig' with { 'comentarios': comentarios } %}
	</section>

	<section class="coments" id="coments">
	
	<h3 style="margin-top: 40px">Añadir comentario</h3>
		{{ render(controller( 'CookerCookingBundle:Comentario:new', { 'receta_id': receta.id } )) }}
	</section>
	
	</section>
	{% block stylesheets %}
	{{ parent() }}
	<link href="{{ asset('css/blog.css') }}" type="text/css" rel="stylesheet" />
	{% endblock %}

{% endblock %}
