{# src/Cooker/CookBundle/Resources/views/Blog/show.html.twig #}
{% extends "CookerCookingBundle::layout.html.twig" %}
{% block title %}Detalles de la receta{% endblock %}

{% block body %}
	<h1>{{ receta.nombre }}</h1>
	<div class="date">
		{{ receta.date|date('d-m-Y') }}
	</div>
	<div class="body">
		{{ receta.detalles }}
	</div>
	
	<br><br><br>

	<section class="previous-comments">
		<h3>Comentarios</h3>
		{% include 'Cooker:CookingBundle:Comment:list.html.twig' with { 'comments': comments } %}
	</section>

	<section class="comments" id="comments">
	
	<h3>Añadir comentario</h3>
		{{ render(controller( 'Cooker:CookingBundle:Comment:new', { 'receta_id': receta.id } )) }}
	</section>
	
	</section>
	{% block stylesheets %}
	{{ parent() }}
	<link href="{{ asset('css/blog.css') }}" type="text/css" rel="stylesheet" />
	{% endblock %}

{% endblock %}
