{# src/Cooker/CookingBundle/Resources/views/Cook/showReceta.html.twig #}
{% extends 'CookerCookingBundle::sidebar.html.twig' %}
{% block title %}{% trans %}Detalles de la receta{% endtrans %}{% endblock %}

{% block body %}

    <h3 class="titulo"><a href="{{ path('cooker_cook_showPlato', { 'id': receta.tipo_plato.id }) }}">{{ receta.tipo_plato.nombre }}</a></h3>

	<h1>{{ receta.nombre }}</h1>

	<div class="date">
		{{ receta.date|date('d-m-Y') }}
	</div>
	<img class="imgGran" src="{{receta.imagen}}" alt="{{receta.nombre}}" />

	<h2>{% trans %}Ingredientes{% endtrans %}</h2>
	<ul class="ingredientes">
	{% for ingrediente in ingredientes %}
	<li><a href="{{ path('cooker_cook_showIngr', { 'id': ingrediente.id }) }}">{{ ingrediente.nombre }}</a></li>
	 {% endfor %}

	<h2>{% trans %}Preparación{% endtrans %}</h2>
	<div class="body">
		{{ receta.detalles }}
	</div>
	
	<br><br><br>

	<section class="previous-comments">
		<h3>{% trans %}Comentarios{% endtrans %}</h3>
		{% include 'CookerCookingBundle:Comment:list.html.twig' with { 'comentarios': comentarios } %}
	</section>

	<section class="coments" id="coments">
	
	<h3 class="aniadirCom">{% trans %}Añadir comentario{% endtrans %}</h3>
		{{ render(controller( 'CookerCookingBundle:Comentario:new', { 'receta_id': receta.id } )) }}
	</section>
	
	</section>
	{% block stylesheets %}
	{{ parent() }}
	<link href="{{ asset('css/comentarios.css') }}" type="text/css" rel="stylesheet" />
	{% endblock %}
		<br><br><br>
	<h3 class="relacionadas">{% trans %}Recetas relacionadas{% endtrans %}</h3>
	
	<ul class="listaRelacionadas">
	{% set break = 0 %}
	{% for otrareceta in otrasrecetas if break < 3 %}

	{% if(otrareceta.nombre != receta.nombre) %}

	<li class="otraReceta">
	<header>
		<h3><a href="{{ path('cooker_cook_showReceta', { 'id': otrareceta.id }) }}">{{ otrareceta.nombre }}</a></h3>
	</header>
		<img class="imgPeq" src="{{otrareceta.imagen}}" alt="{{otrareceta.nombre}}" />
	</li>
	{% set break = break + 1 %}
	{% endif %}
	{% endfor %}
	</ul>

{% endblock %}
